# EDA CYBERPUNK DATA_SET

![imagen cyberpunk muy chula](https://media.istockphoto.com/photos/the-quantum-zen-queen-picture-id1048358722?k=20&m=1048358722&s=612x612&w=0&h=0vwyzwUvHDgTpujncqx0mUp95lwOUsBxpajRkZUw5rQ=)

In [2]:
# importamos las librerias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#importamos el dataset en la variable df
df = pd.read_csv("sf_cyberpunk.csv")
# imprimimos informacion basica sobre Num de columnas, filas y tipos de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244 entries, 0 to 1243
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Book_Title           1244 non-null   object
 1   Original_Book_Title  1244 non-null   object
 2   Author_Name          1244 non-null   object
 3   Edition_Language     1243 non-null   object
 4   Rating_score         1244 non-null   float64
 5   Rating_votes         1244 non-null   int64
 6   Review_number        1244 non-null   int64
 7   Book_Description     1226 non-null   object
 8   Year_published       1244 non-null   int64
 9   Genres               1244 non-null   object
 10  url                  1244 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 107.0+ KB

In [9]:
# agrupamos el titulo del libro y el año de publicación.
byYear = df.groupby('Book_Title')['Year_published'].sum()

# imprimimos los 10 primeros items.
print(byYear.head(25))

Book_Title
1984                                 1949
2001: A Space Odyssey                1968
23 Years on Fire                     2013
2XS                                  1992
A Chip In His Shoulder               2011
A Clockwork Orange                   1962
A Closed and Common Orbit            2016
A Fire Upon the Deep                 1992
A Fire in the Sun                    1989
A Fistful of Data                    2006
A Good Old-Fashioned Future          1999
A Hymn to Gods Long Dead             2012
A Place So Foreign and Eight More    2000
A Quantum Murder                     1994
A Scanner Darkly                     1977
A Shadow in the Flames               2007
A Signal Shattered                   1999
A Song Called Youth                  2012
A Song for a New Day                 2019
A Virtual Dream                      2015
A.I. Apocalypse                      2012
A.I. Confidential                    2017
Abaddon's Gate                       2013
Abara, Part 1                        2006
Abara, Part 2                        2006
Name: Year_published, dtype: int64

In [12]:
# separar variables categóricas y numéricas
categoricas = ["Year_published","Book_Title", "Original_Book_Title", "Author_Name", "Edition_Language", "Book_Description", "Genres", "url"]
numericas = ["Rating_score", "Rating_votes", "Review_number", ]
# se realiza descripción básica estadistica de las variables numéricas
df[numericas].describe()

       Rating_score  Rating_votes  Review_number
count   1244.000000  1.244000e+03    1244.000000
mean       3.890957  3.942286e+04    1792.016881
std        0.297958  2.803274e+05    9142.208471
min        2.500000  8.000000e+00       0.000000
25%        3.690000  2.477500e+02      20.000000
50%        3.890000  9.510000e+02      79.000000
75%        4.110000  6.280250e+03     471.000000
max        4.820000  6.572148e+06  174079.000000